[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "?????? #21 ?? ????? devman.org"
[access "refs/*"]
	owner = group user/kostyadevman
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kostyadevman
	label-Verified = -1..+1 group user/kostyadevman
	push = group user/kostyadevman
	read = group user/kostyadevman
	rebase = group user/kostyadevman
	removeReviewer = group user/kostyadevman
	submit = group user/kostyadevman
[access "refs/heads/*"]
	create = group user/kostyadevman
	push = +force group user/kostyadevman
	pushMerge = group user/kostyadevman
	read = group user/kostyadevman
[access "refs/tags/*"]
	push = group user/kostyadevman
	push = +force group user/kostyadevman
